<style>
* {
  box-sizing: border-box;
}

body {
  font-family: serif, Helvetica, sans-serif;
  background-color: lavender;
}

/* Style the header */
.header {
  font-family: fantasy,sans-serif;
  background-color: powderblue;
  color turquoise;
  padding: 15px;
  text-align: center;
  font-size: 25px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: flex;
  clear: both;
}
.h1 {
  color: white;
}
/* Style the footer */
.footer {
  background-color: aliceblue;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 500px) {
  .column {
    width: 100%;
  }
#back-to-top {
    position: center;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: olive;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #back-to-top:hover {
    background-color: olive;
  }
}
</style>